{% extends "adminWrapper.twig" %}
{% block content %}

<h2>{{sagendaAuthenticationSettings}} <span class="label label-{{bootstrapAlertType}}">{{ connectedStatus }}</span></h2>
<br/>
{% if result.Message is not empty %}
<div class="alert alert-{{bootstrapAlertType}}" role="alert">{{result.Message}}</div>
{% endif %}

<form name="form" action="" method="post">
  <div class="form-group">
    <label for="sagendaAuthenticationCode">{{ sagendaAuthenticationCode }}</label>
    <input type="text" id="sagendaAuthenticationCode" name="sagendaAuthenticationCode" class="form-control" placeholder="{{ sagendaAuthenticationCode }}" value="{{tokenValue}}">
  </div>
  <br />
  <div class="row">
    <div class="col-xs-6 text-left"><button type="submit" class="btn btn-success btn-lg">{{ saveChanges }}</button></div>
  </div>
</form>

<h3>{{howToGetTheTokenTitle}}</h3>
<p>{{registeringInfo}}</p>
<br />
<h3>{{aboutIntegrationTitle}} <span class="label label-default"><strong>[sagenda-wp]</strong><span></h3>
<p>{{shortCodeInfo|raw}}</p>
<p>{{shortCodeInfoAdvanced|raw}}</p>
<p>{{shortCodeInfoInPHP}}</p>
<br />
<h3>{{usefulLinksTitle}}</h3>
<div class="row">
  <div class="col-xs-6 text-center"><a href="https://www.youtube.com/watch?v=wCEmJg2hWgw" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> See video about WP plugin installation</button></a></div>
  <div class="col-xs-6 text-center"><a href="http://www.sagenda.com/integrate-booking-system-website/add-booking-plugin-wordpress-website/" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-new-window" aria-hidden="true"></span>  {{ readMore }}</button></a></div>
</div>
<br />
<div class="row">
  <div class="col-xs-6 text-center"><a href="http://sagenda.net/Accounts/Register" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-new-window" aria-hidden="true"></span>  {{ createAccount }}</button></a></div>
  <div class="col-xs-6 text-center"><a href="http://sagenda.net/Accounts/Login" target="_blank"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-new-window" aria-hidden="true"></span>  {{ clickHereToGetYourAuthenticationCode }}</button></a></div>
</div>
<br />

<div class="row">
  <div class="col-xs-12 text-right"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>coded<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> with <span class="glyphicon glyphicon glyphicon-heart" aria-hidden="true"></span> for you!</div>
</div>

{% endblock %}
